SECRET_KEY= # Обязательно! Сгенерируйте свой ключ: https://djecrety.ir/
DEBUG=True  # Для продакшена установите False
ALLOWED_HOSTS=localhost,127.0.0.1,0.0.0.0     # Для продакшена укажите реальные домены через запятую


STRIPE_SECRET_KEY= # sk_test_
STRIPE_PUBLIC_KEY= # pk_test_


DATABASE_NAME=               # Название БД (например: mydb)
DATABASE_USER=               # Имя пользователя (например: postgres)
DATABASE_PASSWORD=           # Пароль (обязательно измените!)
DATABASE_HOST=localhost      #Для Docker: postgres
DATABASE_PORT=5432


SITE_URL=http://localhost:8000


REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_DB=0
REDIS_URL=redis://localhost:6379/0

POSTGRES_DB=mydatabase
POSTGRES_USER=myuser
POSTGRES_PASSWORD=mypassword
POSTGRES_HOST=db
POSTGRES_PORT-5432